<!doctype html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Minifolio - Vasanthan Chandrasekaran, Personal Portfolio</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
<!-- header section -->
<section class="banner" role="banner">
    <header id="header">
        <!-- navigation section  -->
        <div class="header-content clearfix"><a class="logo" href="#"><img src="{% static 'images/logo.png' %}"
                                                                           alt="Mafolio"></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li><a href="about">About Me</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="https://github.com/wasanthan">Git</a></li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a></div>
        <!-- navigation section  -->
    </header>

    <!-- banner text -->
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="banner-text text-center">
                <h1>Hey, I’m Vasanthan Chandrasekaran</h1>
                <p>Looking for a strategist and experienced developer?,<br>
                    Scroll to see my work.</p>
                <!-- banner text -->
            </div>
        </div>
    </div>
</section>
<!-- header section -->
<!-- description text section -->
<section id="descripton" class="section descripton">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 text-center">
            <p>A software engineer, working in web crawling technology using pure ruby. I have 2.4 years of experience
                working in this domain. I have worked on following components: -Redmine API- -Agile CRM API- -Selenium-
                -Amazon simple Storage Bucket API- -AntiCaptcha- -ElasticSearch- -Proxy module-..</p>
        </div>
    </div>
</section>
<!-- description text section -->
<!-- portfolio section -->
<section id="workss" class="worksss section no-padding">
    {#  <div class="container-fluid">#}
    {#    <div class="row no-gutter">#}
    {#      <div class="col-lg-3 col-md-6 col-sm-6 work">#}
    <div>
        <div class="card card-1">
            <div class="redmine">
                {#              <div class="overlay">#}
                {#          <div class="overlay-caption">#}
                <h5>Redmine API</h5>
                <p>Redmine is a task management tool. I have made a standalone program to automate redmine.</p>
                {#              <br>#}
                <p>- Autoreply to The client on weekends and National Holidays.</p>
                {#              <br>#}
                <p>- To set project specific assignee and watchers.</p>
                {#              <br>#}
                <p>- Other functionalities such as filtering tickets, adding new versions, get all users information and
                    store in a file.</p>
            </div>
        </div>
        <div class="card card-2">
            <div class="agile_api">
                <h5>Agile CRM API</h5>
                <p>I have developed a standalone program for Agile CRM.</p>
                <p>- We have different forms on our site, so we need to set flags to differentiate the clients. So I'm
                    setting tags for the clients when creating contacts.</p>
                <p>- Other functionalities such as creating deals for client, adding tags for qualified client and
                    disqualified clients etc.,</p>
            </div>
        </div>
        <div class="card card-3">
            <div class="selenium">
                <h5>Selenium</h5>
                <p>We are using selenium to crawl webpage. To get page after filling forms, click something, navigating
                    page front and forth. </p>
                <p>- I have used most of the selenium options such as save snapshot, click events, mouse on-over,
                    filling forms, checking etc.,</p>
            </div>
        </div>
        <div class="card card-4">
            <div class="amazon_s3">
                <h5>Amason S3 Bucket</h5>
                <p>I have made AWS S3 upload module for the of internal data upload. Which can execute operations such
                    as, list only files, list only directories, create a directory, create a path, copy files from one
                    path to other recursively, upload files to bucket and download files from the bucket.</p>
            </div>
        </div>
        <div class="card card-5">
            <div class="antica">
                <h5>Anticaptcha</h5>
                <p>Some site will give captcha after some request, so I have made a module which will solve captcha with
                    the help of private service called 'Anticapthca'.</p>
            </div>
        </div>
        <div class="card card-6">
            <div class="elastic">
                <h5>ElasticSearch</h5>
                <p>We are using ElasticSearch for error logging, I have implemented scroll API in elasticSearch for
                    internal use.</p>
            </div>
        </div>
        <div class="card card-7">
            <div class="proxy">
                <h5>Proxy</h5>
                <p>I have worked in the proxy module. Used prevent from blocking our machines when doing more request to
                    the site.</p>
            </div>
        </div>
        <div class="card card-8">
            <div class="django_app">
                <h5>Django APP</h5>
                <p>Last but not least. I have created a Django based profile application, which will tell about
                    myself.</p>
            </div>
        </div>
    </div>
    {#        </div>#}

    {#          </div>#}
    {#          <a href="{% static 'images/work-1.jpg' %}" class="work-box">#}
    {#          <img src="{% static 'images/work-1.jpg' %}" alt="">#}
    {#        <div class="overlay">#}
    {#          <div class="overlay-caption">#}
    {#            <h5>Redmine API</h5>#}
    {#            <p>Redmine is a taskmanagement tool. I have made a standalone program to automate redmine.</p>#}
    {#              <br>#}
    {#              <p>- Autoreply to client in weekends and National Holidays</p>#}
    {#              <br>#}
    {#              <p>- Set project specific assignee and watchers</p>#}
    {#              <br>#}
    {#              <p>- Other functionalities such as filtering tickets, adding new versions, get all users information and store in file.</p>#}
    {#          </div>#}
    {#        </div>#}
    {##}
    {#        <!-- overlay -->#}
    {#        </a>#}
    {#      </div>#}
    {#      <div class="col-lg-3 col-md-6 col-sm-6 work"><a href="{% static 'images/work-2.jpg' %}" class="work-box"><img src="{% static 'images/work-2.jpg' %}" alt="">#}
    {#        <div class="overlay">#}
    {#          <div class="overlay-caption">#}
    {#            <h5>Agile CRM API</h5>#}
    {#            <p>I have developed Standalone program for Agile Customer Management Tool.</p>#}
    {#              <p>- We have different forms in our site, so we need to set flags to differentiate the clients, for that I'm setting tags for client when creating contacts.</p>#}
    {#              <p>- Other functionalities such as creating deals for client, adding tags for qualifing client and disqualifing clients etc.,</p>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!-- overlay --> #}
    {#        </a> </div>#}
    {#      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{% static 'images/work-3.jpg' %}" class="work-box"> <img src="{% static 'images/work-3.jpg' %}" alt="">#}
    {#        <div class="overlay">#}
    {#          <div class="overlay-caption">#}
    {#            <h5>Selenium</h5>#}
    {#            <p>We are using selenium to crawl webpage. Some web pages could not get using getrequest or openURI or some we have to fill forms, there we will using selenium. I have used most of the selenium options such as save snapshot, click events, mouse on-over, filling forms, checking etc.,</p>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!-- overlay --> #}
    {#        </a> </div>#}
    {#      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{% static 'images/work-4.jpg' %}" class="work-box"> <img src="{% static 'images/work-4.jpg' %}" alt="">#}
    {#        <div class="overlay">#}
    {#          <div class="overlay-caption">#}
    {#            <h5>Amason S3 Bucket</h5>#}
    {#            <p>I have made AWS S3 upload module for the of internal data upload. Which will do all the operation shuch as list of files, directories, create directory, create path, copy files files from one path to other recursively, upload file and download files.</p>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!-- overlay --> #}
    {#        </a> </div>#}
    {#      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{% static 'images/work-5.jpg' %}" class="work-box"> <img src="{% static 'images/work-5.jpg' %}" alt="">#}
    {#        <div class="overlay">#}
    {#          <div class="overlay-caption">#}
    {#            <h5>Anticaptcha</h5>#}
    {#            <p>Some site will give captcha after some request, so  I have made a module which will solve captca with the help of private serivce called 'Anticapthca'.</p>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!-- overlay --> #}
    {#        </a> </div>#}
    {#      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{% static 'images/work-6.jpg' %}" class="work-box"> <img src="{% static 'images/work-6.jpg' %}" alt="">#}
    {#        <div class="overlay">#}
    {#          <div class="overlay-caption">#}
    {#            <h5>ElasticSearch</h5>#}
    {#            <p>We are using ElasticSearch for error logging, I have implemented scroll API in elasticSearch for internal use.</p>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!-- overlay --> #}
    {#        </a> </div>#}
    {#      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{% static 'images/work-7.jpg' %}" class="work-box"> <img src="{% static 'images/work-7.jpg' %}" alt="">#}
    {#        <div class="overlay">#}
    {#          <div class="overlay-caption">#}
    {#            <h5>Proxy</h5>#}
    {#            <p>I have worked in proxy module, which will prevent blocking our machines from blocking sites.</p>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!-- overlay --> #}
    {#        </a> </div>#}
    {#      <div class="col-lg-3 col-md-6 col-sm-6 work"> <a href="{% static 'images/work-8.jpg' %}" class="work-box"> <img src="{% static 'images/work-8.jpg' %}" alt="">#}
    {#        <div class="overlay">#}
    {#          <div class="overlay-caption">#}
    {#            <h5>Profile Portfolio APP</h5>#}
    {#            <p>I have created this app using Django framework, this was designed to describe my carrier works</p>#}
    {#          </div>#}
    {#        </div>#}
    {#        <!-- overlay --> #}
    {#        </a> </div>#}

    </div>
    </div>

</section>

<!-- portfolio section -->
<!-- hire me section -->
<section id="hireme" class="section hireme">
    <div class="container">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h3>Need something specific?</h3>
            <p>Please leave a message, I will respond as quickly as possible.</p>
            <a href="contact" class="btn btn-large">Hire me</a></div>
    </div>
</section>
<!-- hire me section -->
<!-- footer -->
<footer class="section footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="col-md-12">
                <p>
                <ul class="footer-share">
                    <li><a href="https://www.facebook.com/wasanthanc"><i class="fa fa-facebook"></i></a></li>
                    {#          <li><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                    <li><a href="https://www.linkedin.com/in/wasanth/"><i class="fa fa-linkedin"></i></a></li>
                    <li>
                        <a href="https://plus.google.com/u/0/+%E0%AE%B5%E0%AE%BF%E0%AE%A3%E0%AF%8D%E0%AE%A3%E0%AE%B0%E0%AE%9A%E0%AE%A9%E0%AF%8D%E0%AE%B5%E0%AE%9A%E0%AE%A8%E0%AF%8D%E0%AE%A4%E0%AF%8D"><i
                                class="fa fa-google-plus"></i></a></li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer -->

<!-- JS FILES -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/retina.min.js' %}"></script>
<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>